* {
  margin: 0;
  padding: 0;
  border: border-box;
}
/* Optional code */
body {
  background-color: #e2e7e6;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  display: flex;
  align-items: center;
}
.navlogo {
  height: 60px;
  width: 113px;
}

.logo {
  background-image: url("Images/amazon_logo.png");
  background-size: cover;
  height: 60px;
  width: 100%;
}

.location {
  color: white;
  margin-left: 10px;
  width: 110px;
}

.address-first {
  font-size: 12px;
  color: #cccccc;
  margin-left: 18px;
}

.location-icon {
  display: flex;
}

.country {
  margin-left: 5px;
  font-weight: 700;
}

.search-container {
  /* width: 582px; */
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.select {
  width: 50px;
  height: 100%;
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: black;
  padding-left: 10px;
}

.search {
  width: 480px;
  height: 40px;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  height: 40px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: orange;
}
.search-icon i {
  width: 100%;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border:hover {
  border: 1px solid #fff;
}

.account-container {
  color: #fff;
  height: 55px;
  width: 385px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 300px;
}

.accounts span {
  font-size: 0.95rem;
}

.accounts h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
}

.returns-container span {
  font-size: 0.95rem;
}

.returns-container h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
}

.cart-container {
  display: flex;
}

.cart-container i {
  font-size: 30px;
}

.cart-container h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  margin-top: 15px;
  margin-left: 5px;
}

.sub-nav {
  background-color: #222f3d;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
}

.menulogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  margin-left: 8px;
  padding: 8px 9px 8px 9px;
}

.menulogo i {
  font-size: 1.15rem;
  cursor: pointer;
}

.menulogo p {
  margin-left: 5px;
  font-weight: 700;
}

.subItems {
  width: 1100px;
  height: 39px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.subItems p {
  font-weight: 400;
  margin-left: 20px;
}

.hero-section {
  height: 400px;
  width: 100%;
  background-image: url("Images/hero_image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.message {
  height: 40px;
  width: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.message a {
  text-decoration: none;
  color: #007185;
}

.shopping-section {
  width: 100%;
  padding-top: 10px;
  background-color: #e2e7e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.box-img {
  height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.box-img img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  margin-left: 15px;
  margin-right: 15px;
}

.content p {
  color: #007185;
}

.frame {
  width: 100%;
  height: 126px;
  background-color: white;
  border: 1px solid #e2e7e6;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-content p {
  font-size: 0.95rem;
  text-align: center;
}

.f-btn {
  height: 28px;
  width: 230px;
  background-color: #ff9900;
  border: none;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.frame-content span {
  cursor: pointer;
  color: #007185;
}

.end-div {
  height: 45px;
  background-color: #37475a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-end {
  color: #ffffff;
}

.inner-end p {
  padding: 15px 0px;
}
.information {
  height: 340px;
  background-color: #222f3d;
  color: #dddddd;
  display: flex;
  justify-content: space-evenly;
}

.info {
  height: 80px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.info a {
  color: #dddddd;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}

.info a:hover {
  text-decoration: underline;
}

.last-container {
  height: 68px;
  background-color: #222f3d;
  color: white;
  border-top: 1px solid #dddddd;
  padding: 10px 95px;
  display: flex;
  justify-content: center;
}
.Icontainer {
  width: 1000px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lLogo {
  background-image: url("Images/amazon_logo.png");
  height: 50px;
  width: 100px;
  padding: 5px 0px;
  background-size: cover;
}
.three-containers {
  display: flex;
  margin-left: 100px;
}
.Margin-box {
  margin-left: 10px;
}
.Fborder {
  width: 150px;
  text-align: center;
  border: 1px solid #dddd;
  padding: 6px 18px 6px 8px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
}
